/*common*/
body{
	color:#666666;
	font-size:14px;
	margin:0;
	padding:0;
	background-color: #f9f9f9;
	font-family:"Arial","Microsoft YaHei";
}
form,ul,li,p,h1,h2,h3,h4,h5,h6,img,em,i,strong,input{
	margin:0;
	padding:0;
	font-weight: normal;
	font-family:"Arial","Microsoft YaHei";
}
img{
	border:0 none;
	vertical-align:middle;
}
input{
	outline: none;
}
ul,li{
	list-style-type:none;
}
em,i{
	font-style: normal;
}
a{
	color:#666666;
	text-decoration:none;
}
a:hover{
	color:#ff7c03;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cf:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.cf{
	zoom:1;
}
.clear{
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}
.blank10{
	display:block;
	clear:both;
	height:10px;
	line-height:0;
	font-size:0;
}

/*structure*/
.headerTop{
	height: 40px;
	line-height: 40px;
	color: #999999;
	background-color: #f9f9f9;
	border-bottom: 1px solid #efefef;
}
.headerTop .con{
	width: 1190px;
	margin: 0 auto;
}
.headerTop .con .welcome a.a1{
	padding-left: 20px;
	background: url(images/home.png) 0 0 no-repeat;
	background-size: auto 15px;
}
.headerTop .con .welcome a.a2{
	color: #ff7c03;
}
.headerTop .con .welcome p{
	display: inline;
	padding: 0 10px;
}
.headerTop .con .topNav a{
	color: #999999;	
}
.headerTop .con .topNav a:hover{
	color:#ff7c03;
}
.headerTop .con .topNav a:after{
	content: "|";
	color: #cccccc;
	padding: 0 5px 0 8px;
}
.headerTop .con .telTop{
	color: #003e49;
	font-size: 18px;
	font-weight: bold;
	padding-left: 25px;
	background: url(images/tel.png) 5px center no-repeat;
}

.header{
	background-color: #ffffff;
}
.header .con{
	width: 1190px;
	height: 110px;
	margin: 0 auto;
}
.header .con .logo{
	width: 235px;
	height: 64px;
	margin-top: 25px;
	background: url(images/logo.png) 0 0 no-repeat;
}
.header .con .nav{
	padding-top: 36px;
	padding-left: 20px;
}
.header .con .nav ul li{
	float: left;
	width: 85px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.header .con .nav ul li a{
	display: block;
	border-radius: 6px;
	font-size: 16px;
	color: #003e49;
}
.header .con .nav ul li.cur a{
	color: #ffffff;
	background-color: #003e49;
}
.header .con .search{
	width: 332px;
	height: 36px;
	padding-top: 36px;
}
.header .con .select{
	position: relative;
	float: left;
	width: 64px;
	height: 34px;
	border-right: none;
	background-color: #f9f9f9;
	border: 1px solid #d4d4d4;
	border-right: none;
	z-index: 10;
}
.header .con .select:before{
	display: inline-block;
	position: absolute;
	right: 8px;
	top: 14px;
	content: "";
	width: 12px;
	height: 6px;
	background: url(images/arrow1.png) 0 0 no-repeat;
}
.header .con .selectOn:before{
	background: url(images/arrow1on.png) 0 0 no-repeat;
}
.header .con .select .list{
	display: none;
	margin: -1px 0 0 -1px;
	width: 64px;
	border: 1px solid #d4d4d4;
}
.header .con .select p{
	line-height: 34px;
	text-indent: 10px;
	background-color: #f7f7f7;
}
.header .con .select .list p.cur{
	color: #ff7c03;
}
.header .con .search .iptCom{
	float: left;
	width: 185px;
	height: 34px;
	padding: 0 10px;
	border: 1px solid #d4d4d4;
}
.header .con .search .iptSub{
	float: right;
	width: 58px;
	height: 36px;
	border: none;
	color: #ffffff;
	font-size: 14px;
	background-color: #006576;
	cursor: pointer;
}

.flashBanner .swiper-slide{
	height: 400px;
	background-position: center top;
	background-color: #ffffff;
}
.flashBanner .swiper-slide a{
	display: block;
	height: 400px;
	cursor: pointer;
}
.flashBanner .swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	opacity: .6;
	background-color: #003e49;
}
.flashBanner .swiper-pagination-bullet-active{
	opacity: 1;
	background-color: #ffffff;
}
.flashBanner .outer{
	position: relative;
	width: 1190px;
	height: 0px;
	margin: -400px auto 0 auto;
	z-index: 9;
}
.flashBanner .productNav{
	position: absolute;
	left: 0;
	top: 25px;
	width: 270px;
	height: 342px;
	overflow: hidden;
	background-color: #f9f9f9;
	box-shadow: 5px 5px 0 rgba(0,0,0,.2);
}
.flashBanner .productNav ul li{
	line-height: 48px;
	font-size: 16px;
	color: #222222;
	text-indent: 22px;
	border-bottom: 1px solid #cccccc;
}
.flashBanner .productNav ul li a{
	display: block;
	background: url(images/arrow2.png) 245px 16px no-repeat;
}
.flashBanner .productNav ul li a:hover{
	background-color: #f4f4f4;
}
.flashBanner .newsNotice{
	position: absolute;
	right: 0;
	top: 25px;
	width: 240px;
	height: 276px;
	padding: 15px;
	background: url(images/newsbg.png) 0 0 no-repeat;
}
.flashBanner .newsNotice .tit h3{
	height: 35px;
}
.flashBanner .newsNotice .tit h3 a{
	color: #ffffff;
	font-size: 16px;
}
.flashBanner .newsNotice .tit span{
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	top: 15px;
	cursor: pointer;
	background: url(images/arrow3.png) center center no-repeat #ff7c03;
}
.flashBanner .newsNotice .tit span.next{
	background-image: url(images/arrow4.png);
}
.flashBanner .newsNotice .tit .prev{
	right: 42px;
}
.flashBanner .newsNotice .tit .next{
	right: 15px;
}
.flashBanner .newsNotice ul li a{
	color: #ffffff;
	line-height: 30px;
	font-size: 12px;
}

.products{
	width: 1190px;
	margin: 430px auto 0 auto;
}
.products .proLeft{
	float: left;
	width: 270px;
	height: 1205px;
	text-align: center;
	background: url(images/productLeft.png) 0 0 no-repeat #2c9bae;
}
.products .proLeft h3{
	color: #ffffff;
	font-size: 24px;
	margin-top: 30px;
	line-height: 70px;
}
.products .proLeft a.more{
	display: block;
	margin: 0 auto;
	line-height: 35px;
	width: 110px;
	border-radius: 18px;
	color: #2c9bae;
	font-size: 16px;
	background-color: #ffe8b6;
}
.products .proRight{
	float: right;
	width: 920px;
	height: 1205px;
	background-color: #ffffff;
}
.products .proRight .proNav{
	background-color: #f4f4f4;
}
.products .proRight .proNav ul{
	float: left;
}
.products .proRight .proNav a.more{
	float: right;
	line-height: 50px;
	margin-right: 10px;
	padding: 0 20px;
	cursor: pointer;
	color: #ababab;
}
.products .proRight .proNav ul li{
	float: left;
	width: 150px;
	line-height: 44px;
	margin: 2px;
	text-align: center;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
.products .proRight .proNav ul li a{
	display: block;
	cursor: pointer;
}
.products .proRight .proNav ul li.cur{
	margin: 0;
	background-color: #ff7d05;
	line-height: 50px;
	border: none;
}
.products .proRight .proNav ul li.cur a{
	color: #ffffff;
}
.products .trend{
	height: 300px;
	margin-top: 5px;
}
.products .trend h3{
	float: left;
	width: 18px;
	height: 190px;
	text-align: center;
	line-height: 23px;
	font-size: 14px;
	padding: 30px 15px;
	margin: 20px 0 0 50px;
	border: 1px solid #d4d4d4;
}
.products .trend .trendCon{
	float: right;
	width: 800px;
	height: 300px;
	overflow: hidden;
}

.tblPlane{
	margin-top: 20px;
}

.transport{
	width: 1190px;
	margin: 30px auto 0 auto;
}
.transport .tranLeft{
	float: left;
	width: 270px;
	height: 550px;
	text-align: center;
	background: url(images/transport.png) 0 0 no-repeat #ffa451;
}
.transport .tranLeft h3{
	color: #ffffff;
	font-size: 24px;
	margin-top: 30px;
	line-height: 70px;
}
.transport .tranLeft a.more{
	display: block;
	margin: 0 auto;
	line-height: 35px;
	width: 110px;
	border-radius: 18px;
	color: #ffa451;
	font-size: 16px;
	background-color: #d0f9ff;
}
.transport .tranRight{
	float: right;
	width: 920px;
	height: 550px;
	background-color: #ffffff;
}
.transport .tranProcess{
	height: 180px;
	background-color: #ffffff;
	margin-top: 15px;
}
.transport .tranProcess .processTit{
	float: left;
	width: 160px;
	line-height: 180px;
	font-size: 18px;
	text-align: center;
	background: url(images/processLine.png) right center no-repeat;
}
.transport .tranProcess .processCon{
	float: left;
	width: 880px;
	height: 180px;
}
.transport .tranProcess .processCon ul li{
	position: relative;
	float: left;
	width: 146px;
	text-align: center;
	padding-top: 40px;
}
.transport .tranProcess .processCon ul li:after{
	position: absolute;
	display: block;
	content: "";
	width: 27px;
	height: 14px;
	right: -13px;
	top: 72px;
	background: url(images/processA.png) 0 0 no-repeat;
}
.transport .tranProcess .processCon ul li:last-child:after{
	background: none;
}
.transport .tranProcess .processCon ul li em{
	display: block;
	width: 70px;
	height: 70px;
	border: 3px solid #eeeeee;
	border-radius: 50%;
	margin: 0 auto;
}
.transport .tranProcess .processCon ul li.li_1 em{
	background: url(images/process1.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_2 em{
	background: url(images/process2.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_3 em{
	background: url(images/process3.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_4 em{
	background: url(images/process4.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_5 em{
	background: url(images/process5.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_6 em{
	background: url(images/process6.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li span{
	line-height: 30px;
}
.transport .tranProcess .processBtn{
	float: right;
	width: 150px;
	height: 180px;
	background-color: #e8e8e8;
}
.transport .tranProcess .processBtn a{
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 10px;
	background-color: #ff932e;
	color: #ffffff;
	line-height: 110px;
	overflow: hidden;
	text-align: center;
	margin: 45px auto 0 auto;
}

/*tabel common*/
.tabelTit{
	position: relative;
	height: 64px;
	overflow: hidden;
	text-align: center;
}
.tabelTit:before{
	position: absolute;
	top: 32px;
	left: 50%;
	margin-left: -200px;
	display: block;
	content: "";
	width: 400px;
	height: 1px;
	background-color: #e8e8e8;
}
.tabelTit span{
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -110px;
	display: block;
	width: 220px;
	background-color: #ffffff;
	font-size: 22px;
	color: #222222;
	line-height: 64px;
}
.table table{
	width: 100%;
}
.table table tr td{
	text-align: center;
	line-height: 25px;
	padding: 12px 0;
	border-bottom: 1px solid #e8e8e8;
}
.table table thead tr td{
	background-color: #e8e8e8;
	color: #222222;
	border-bottom: 2px solid #e8e8e8;
}

/*footer*/
footer{
	margin-top: 30px;
	padding: 20px 0;
	background-color: #ffffff;
}
footer .con{
	width: 1190px;
	margin: 0 auto;
}









