/*common*/
body{
	color:#666666;
	font-size:14px;
	margin:0;
	padding:0;
	background-color: #f9f9f9;
	font-family:"Arial","Microsoft YaHei";
}
form,ul,li,p,h1,h2,h3,h4,h5,h6,img,em,i,strong,input,textarea{
	margin:0;
	padding:0;
	font-weight: normal;
	font-family:"Arial","Microsoft YaHei";
}
img{
	border:0 none;
	vertical-align:middle;
}
input,textarea{
	outline: none;
}
ul,li{
	list-style-type:none;
}
em,i{
	font-style: normal;
}
a{
	color:#666666;
	text-decoration:none;
}
a:hover{
	color:#ff7c03;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cf:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.cf{
	zoom:1;
}
.clear{
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}
.blank10{
	display:block;
	clear:both;
	height:10px;
	line-height:0;
	font-size:0;
}

/*structure*/
.headerTop{
	height: 40px;
	line-height: 40px;
	color: #999999;
	background-color: #f9f9f9;
	border-bottom: 1px solid #efefef;
}
.headerTop .con{
	width: 1190px;
	margin: 0 auto;
}
.headerTop .con .welcome a.a1{
	padding-left: 20px;
	background: url(images/home.png) 0 0 no-repeat;
	background-size: auto 15px;
}
.headerTop .con .welcome a.a2{
	color: #ff7c03;
}
.headerTop .con .welcome p{
	display: inline;
	padding: 0 10px;
}
.headerTop .con .topNav a{
	color: #999999;	
}
.headerTop .con .topNav a:hover{
	color:#ff7c03;
}
.headerTop .con .topNav a:after{
	content: "|";
	color: #cccccc;
	padding: 0 5px 0 8px;
}
.headerTop .con .telTop{
	color: #003e49;
	font-size: 18px;
	font-weight: bold;
	padding-left: 25px;
	background: url(images/tel.png) 5px center no-repeat;
}

.header{
	background-color: #ffffff;
}
.header .con{
	width: 1190px;
	height: 110px;
	margin: 0 auto;
}
.header .con .logo{
	width: 235px;
	height: 64px;
	margin-top: 25px;
	background: url(images/logo.png) 0 0 no-repeat;
}
.header .con .nav{
	padding-top: 36px;
	padding-left: 20px;
}
.header .con .nav ul li{
	float: left;
	width: 85px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.header .con .nav ul li a{
	display: block;
	border-radius: 6px;
	font-size: 16px;
	color: #003e49;
}
.header .con .nav ul li.cur a{
	color: #ffffff;
	background-color: #003e49;
}
.header .con .search{
	width: 332px;
	height: 36px;
	padding-top: 36px;
}
.header .con .select{
	position: relative;
	float: left;
	width: 64px;
	height: 34px;
	border-right: none;
	background-color: #f9f9f9;
	border: 1px solid #d4d4d4;
	border-right: none;
	z-index: 10;
}
.header .con .select:before{
	display: inline-block;
	position: absolute;
	right: 8px;
	top: 14px;
	content: "";
	width: 12px;
	height: 6px;
	background: url(images/arrow1.png) 0 0 no-repeat;
}
.header .con .selectOn:before{
	background: url(images/arrow1on.png) 0 0 no-repeat;
}
.header .con .select .list{
	display: none;
	margin: -1px 0 0 -1px;
	width: 64px;
	border: 1px solid #d4d4d4;
}
.header .con .select p{
	line-height: 34px;
	text-indent: 10px;
	cursor: pointer;
	background-color: #f7f7f7;
}
.header .con .select .list p.cur{
	color: #ff7c03;
}
.header .con .search .iptCom{
	float: left;
	width: 185px;
	height: 34px;
	padding: 0 10px;
	border: 1px solid #d4d4d4;
}
.header .con .search .iptSub{
	float: right;
	width: 58px;
	height: 36px;
	border: none;
	color: #ffffff;
	font-size: 14px;
	background-color: #006576;
	cursor: pointer;
}
.cart{
	position: fixed;
	right: 2px;
	top: 65px;
	padding: 5px;
	z-index: 999;
}
.cart a{
	display: block;
	width: 58px;
	height: 58px;
	text-align: center;
	line-height: 90px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #ff7c03;
	background: url(images/cart.png) center 8px no-repeat #ffffff;
}

.flashBanner .swiper-slide{
	height: 400px;
	background-position: center top;
	background-color: #ffffff;
}
.flashBanner .swiper-slide a{
	display: block;
	height: 400px;
	cursor: pointer;
}
.flashBanner .swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	opacity: .6;
	background-color: #003e49;
}
.flashBanner .swiper-pagination-bullet-active{
	opacity: 1;
	background-color: #ffffff;
}
.flashBanner .outer{
	position: relative;
	width: 1190px;
	height: 0px;
	margin: -400px auto 0 auto;
	z-index: 9;
}
.flashBanner .productNav{
	position: absolute;
	left: 0;
	top: 25px;
	width: 270px;
	height: 342px;
	overflow: hidden;
	background-color: #f9f9f9;
	box-shadow: 5px 5px 0 rgba(0,0,0,.2);
}
.flashBanner .productNav ul li{
	line-height: 48px;
	font-size: 16px;
	color: #222222;
	text-indent: 22px;
	border-bottom: 1px solid #cccccc;
}
.flashBanner .productNav ul li a{
	display: block;
	background: url(images/arrow2.png) 245px 16px no-repeat;
}
.flashBanner .productNav ul li a:hover{
	background-color: #f4f4f4;
}
.flashBanner .newsNotice{
	position: absolute;
	right: 0;
	top: 25px;
	width: 240px;
	height: 276px;
	padding: 15px;
	background: url(images/newsbg.png) 0 0 no-repeat;
}
.flashBanner .newsNotice .tit h3{
	height: 35px;
}
.flashBanner .newsNotice .tit h3 a{
	color: #ffffff;
	font-size: 16px;
}
.flashBanner .newsNotice .tit span{
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	top: 15px;
	cursor: pointer;
	background: url(images/arrow3.png) center center no-repeat #ff7c03;
}
.flashBanner .newsNotice .tit span:hover{
	background-color: #ff8d23;
}
.flashBanner .newsNotice .tit span.next{
	background-image: url(images/arrow4.png);
}
.flashBanner .newsNotice .tit .prev{
	right: 42px;
}
.flashBanner .newsNotice .tit .next{
	right: 15px;
}
.flashBanner .newsNotice .con{
	height: 210px;
	overflow: hidden;
}
.flashBanner .newsNotice ul li a{
	color: #ffffff;
	line-height: 30px;
	font-size: 12px;
}
.flashBanner .newsNotice ul li a:hover{
	color: #ff9966;
}

.products{
	width: 1190px;
	margin: 430px auto 0 auto;
}
.products .proLeft{
	float: left;
	width: 270px;
	height: 1205px;
	text-align: center;
	background: url(images/productLeft.png) 0 0 no-repeat #2c9bae;
}
.products .proLeft h3{
	color: #ffffff;
	font-size: 24px;
	margin-top: 30px;
	line-height: 70px;
}
.products .proLeft a.more{
	display: block;
	margin: 0 auto;
	line-height: 35px;
	width: 110px;
	border-radius: 18px;
	color: #2c9bae;
	font-size: 16px;
	background-color: #ffe8b6;
}
.products .proRight{
	float: right;
	width: 920px;
	height: 1205px;
	background-color: #ffffff;
}
.proNav{
	background-color: #f4f4f4;
}
.proNav ul{
	float: left;
}
.proNav a.more{
	float: right;
	line-height: 50px;
	margin-right: 10px;
	padding: 0 20px;
	cursor: pointer;
	color: #ababab;
}
.proNav ul li{
	float: left;
	width: 150px;
	line-height: 44px;
	margin: 2px;
	text-align: center;
}
.proNav ul li a{
	display: block;
	cursor: pointer;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
.proNav ul li a:hover{
	border-color: #ff7d05;
}
.proNav ul li.cur{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 48px;
}
.proNav ul li.cur a{
	background-color: #ff7d05;
	border: 1px solid #ff7d05;
	color: #ffffff;
}
.products .trend{
	height: 300px;
	margin-top: 5px;
}
.products .trend h3{
	float: left;
	width: 18px;
	height: 190px;
	text-align: center;
	line-height: 23px;
	font-size: 14px;
	padding: 30px 15px;
	margin: 20px 0 0 50px;
	border: 1px solid #d4d4d4;
}
.products .trend .trendCon{
	float: right;
	width: 800px;
	height: 300px;
	overflow: hidden;
}
.products .table table tr td{
	padding-top: 11px;
	padding-bottom: 11px;
}

.tblPlane{
	margin-top: 20px;
}
.secondCon .tblPlane{
	margin-top: 0;
}

.transport{
	width: 1190px;
	margin: 30px auto 0 auto;
}
.transport .tranLeft{
	float: left;
	width: 270px;
	height: 550px;
	text-align: center;
	background: url(images/transport.png) 0 0 no-repeat #ffa451;
}
.transport .tranLeft h3{
	color: #ffffff;
	font-size: 24px;
	margin-top: 30px;
	line-height: 70px;
}
.transport .tranLeft a.more{
	display: block;
	margin: 0 auto;
	line-height: 35px;
	width: 110px;
	border-radius: 18px;
	color: #ffa451;
	font-size: 16px;
	background-color: #d0f9ff;
}
.transport .tranRight{
	float: right;
	width: 920px;
	height: 550px;
	background-color: #ffffff;
}
.transport .tranProcess{
	height: 180px;
	background-color: #ffffff;
	margin-top: 15px;
}
.transport .tranProcess .processTit{
	float: left;
	width: 160px;
	line-height: 180px;
	font-size: 18px;
	text-align: center;
	background: url(images/processLine.png) right center no-repeat;
}
.transport .tranProcess .processCon{
	float: left;
	width: 880px;
	height: 180px;
}
.transport .tranProcess .processCon ul li{
	position: relative;
	float: left;
	width: 146px;
	text-align: center;
	padding-top: 40px;
}
.transport .tranProcess .processCon ul li:after{
	position: absolute;
	display: block;
	content: "";
	width: 27px;
	height: 14px;
	right: -13px;
	top: 72px;
	background: url(images/processA.png) 0 0 no-repeat;
}
.transport .tranProcess .processCon ul li:last-child:after{
	background: none;
}
.transport .tranProcess .processCon ul li em{
	display: block;
	width: 70px;
	height: 70px;
	border: 3px solid #eeeeee;
	border-radius: 50%;
	margin: 0 auto;
}
.transport .tranProcess .processCon ul li.li_1 em{
	background: url(images/process1.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_2 em{
	background: url(images/process2.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_3 em{
	background: url(images/process3.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_4 em{
	background: url(images/process4.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_5 em{
	background: url(images/process5.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li.li_6 em{
	background: url(images/process6.png) center center no-repeat;
}
.transport .tranProcess .processCon ul li span{
	line-height: 30px;
}
.transport .tranProcess .processBtn{
	float: right;
	width: 150px;
	height: 180px;
	background-color: #e8e8e8;
}
.transport .tranProcess .processBtn a{
	position: relative;
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 10px;
	background-color: #ff932e;
	color: #ffffff;
	line-height: 125px;
	overflow: hidden;
	text-align: center;
	margin: 45px auto 0 auto;
}
.transport .tranProcess .processBtn a:after{
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	margin: -27px 0 0 -12px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	background: url(images/plus.png) center center no-repeat;
}

/*second pages*/
.productsList{
	width: 1190px;
	margin: 20px auto 0 auto;
}
.productsList .proNav ul li{
	width: 167px;
}
.productsList .proNav ul li:nth-child(7n){
	margin-right: 0;
	width: 164px;
}
.productsList .proNav ul li:nth-child(7n+1){
	margin-left: 0;
}
.productsList .tblHave,
.productsList .tblPlane{
	background-color: #ffffff;
	border: 1px solid #d4d4d4;
	margin-top: 10px;
}
.bannerSecond{
	height: 220px;
	background-position: center top;
	background-repeat: no-repeat;
}
.bsProducts{
	background-image: url(images/bsProducts.jpg);
}
.bsNews{
	background-image: url(images/bsNews.jpg);
}
.bsStock{
	background-image: url(images/bsStock.jpg);
}
.bsFinance{
	height: 380px;
	background-image: url(images/bsFinance.jpg);
}
.proNavSwitch{
	height: 50px;
	margin-top: 20px;
	background-color: #333333;
}
.proNavSwitch ul li{
	float: left;
	width: 50%;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
.proNavSwitch ul li.cur{
	background-color: #003e49;
}

.moreChoice{
	height: 50px;
	padding-left: 10px;
}
.moreChoice .moreSelect a,
.moreChoice .moreSelect p{
	float: left;
	padding: 5px;
	margin: 10px 0 0 0;
	border: 1px solid #d4d4d4;
	border-right: none;
	cursor: pointer;
}
.moreChoice .moreSelect p.p1{
	border: 1px solid #2c9bae;
	padding-right: 22px;
	margin-left: 10px;
	background: url(images/arrow5.png) 66px center no-repeat;
}
.moreChoice .moreSelect a.aCur{
	color: #2c9bae;
	padding-right: 22px;
	background: url(images/arrow6.png) right center no-repeat;
}
.moreChoice .moreSelect a.a3{
	border-right: 1px solid #d4d4d4;
}
.moreSearch{
	padding: 10px;
}
.moreSearch input{
	float: right;
}
.moreSearch input.iptCom{
	width: 260px;
	height: 28px;
	padding-left: 10px;
	border: 1px solid #e8e8e8;
}
.moreSearch input.iptSub{
	width: 40px;
	height: 30px;
	border: none;
	cursor: pointer;
	background: url(images/search.png) center center no-repeat #3a3a3a;
}
.productsList .tblPlane{
	display: none;
}
.newsList{
	width: 1190px;
	margin: 20px auto 0 auto;
}
.secondTit{
	line-height: 50px;
	color: #ffffff;
	font-size: 18px;
	text-indent: 25px;
	background-color: #006576;
}
.secondTit .btn{
	float: right;
	padding: 0 20px;
	background-color: #ff7d01;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	text-indent: 0;
	border-radius: 15px;
	margin: 10px 15px 0 0;
	font-size: 14px;
}
.newsListCon{
	width: 790px;
	background-color: #ffffff;
}
.newsListCon .secondConLeft{
	padding: 20px 0;
	border: 1px solid #d4d4d4;	
}
.newsListCon ul li{
	line-height: 40px;
	height: 40px;
	overflow: hidden;
}
.newsListCon ul li:nth-child(3n){
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.newsListCon ul li em{
	float: right;
	width: 13%;
	color: #006576;
	font-size: 16px;
}
.newsListCon ul li a{
	float: left;
	width: 86%;
	font-size: 16px;
	text-indent: 25px;
}
.tempRight{
	width: 380px;
	height: 970px;
	border: 1px solid #d4d4d4;
	background-color: #ffffff;
}
.dealRecent h3{
	line-height: 48px;
	font-size: 18px;
	text-indent: 20px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #d4d4d4;
}
.dealRecent ul{
	padding: 10px 0 20px 0;
}
.dealRecent ul li{
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	padding-left: 20px;
}
.dealRecent ul li em{
	padding-right: 20px;
	color: #ff7c03;
}
.processSecond h3{
	line-height: 48px;
	font-size: 18px;
	text-indent: 20px;
	border-top: 1px solid #d4d4d4;
}
.processSecond img{
	display: block;
	margin: 0 auto;
}
.bsFinance .content{
	width: 1190px;
	margin: 0 auto;
}
.bsFinance .content .apply{
	width: 400px;
	height: 350px;
	float: right;
	margin-top: 15px;
	background-color: #ffffff;
}
.bsFinance .content .apply p{
	line-height: 25px;
	font-size: 20px;
	font-style: italic;
	color: #282828;
	text-indent: 18px;
}
.bsFinance .content .apply p.p1{
	padding-top: 15px;
}
.bsFinance .content .apply p.p2{
	position: relative;
	padding-left: 195px;
	color: #ffa756;
}
.bsFinance .content .apply p.p2:before{
	position: absolute;
	left: 160px;
	top: 10px;
	display: block;
	content: "";
	width: 50px;
	height: 2px; 
	background-color: #ffa756;
}
.bsFinance .content .apply li{
	position: relative;
	display: block;
	height: 40px;
	width: 360px;
	border: 1px solid #cccccc;
	margin: 10px auto 0 auto;
	border-radius: 6px;
}
.bsFinance .content .apply li:before{
	content: "";
	display: block;
	float: left;
	width: 49px;
	height: 40px;
	border-right: 1px solid #d4d4d4;
	background-color: #eeeeee;
	border-radius: 6px 0 0 6px;
	background-position: center center;
	background-repeat: no-repeat;
}
.bsFinance .content .apply li.li1:before{
	background-image: url(images/applyIpt1.jpg);
}
.bsFinance .content .apply li.li2:before{
	background-image: url(images/applyIpt2.jpg);
}
.bsFinance .content .apply li.li3:before{
	background-image: url(images/applyIpt3.jpg);
}
.bsFinance .content .apply li.li4:before{
	background-image: url(images/applyIpt4.jpg);
}
.bsFinance .content .apply input{
	display: block;
	width: 310px;
	height: 40px;
	border: none;
	border-radius: 6px;
	text-indent: 10px;
}
.bsFinance .content .apply li:last-child{
	border-color: #ffffff;
}
.bsFinance .content .apply li:last-child input{
	width: 360px;
	background-color: #ff7c03;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
	height: 50px;
}
.bsFinance .content .apply li:last-child input:hover{
	background-color: #ff9737;
}
.bsFinance .content .apply li:last-child:before{
	display: none;
}
.financeCon{
	width: 1050px;
	margin: 20px auto 0 auto;
	padding: 20px 70px 30px 70px;
	background-color: #ffffff;
}
.financeIntro{
	width: 520px;
}
.financeIntro h3{
	font-size: 36px;
	color: #ffa858;
	margin-bottom: 20px;
}
.financeIntro p{
	line-height: 24px;
}
.financeIntro h4{
	font-size: 22px;
	color: #404040;
	margin: 20px 0;
	line-height: 50px;
	border-bottom: 1px solid #e7e7e7;
}
.financeIntro .financeComp a{
	float: left;
	width: 220px;
	height: 80px;
	overflow: hidden;
	border: 1px solid #1558a9;
	border-radius: 6px;
}
.financeIntro .financeComp a.a2{
	float: right;
	border: 1px solid #d83129;
}

.login{
	height: 500px;
	padding-top: 150px;
	background-image: url(images/bsLogin.jpg);
}
.login .content{
	width: 420px;
	height: 260px;
	padding: 50px 40px;
	margin: 0 auto;
	background-color: #ffffff;
}
.login .content ul li{
	height: 50px;
	margin-bottom: 30px;
	overflow: hidden;
	border: 1px solid #ccc;
}
.login .content ul li.li3,
.login .content ul li.li4{
	border: none;
}
.login .content ul li.li3{
	text-align: right;
	margin-bottom: 0;
}
.login .content ul li.li3 a{
	color: #2c9bae;
}
.login .content ul li.li4 input{
	display: block;
	width: 100%;
	height: 50px;
	font-size: 18px;
	border: none;
	text-align: center;
	color: #ffffff;
	background-color: #ff7d05;
	cursor: pointer;
}
.login .content ul li span{
	float: left;
	width: 60px;
	margin-left: 20px;
	line-height: 48px;
	font-size: 16px;
}
.login .content ul li .iptCom{
	float: right;
	width: 320px;
	height: 50px;
	font-size: 16px;
	text-indent: 10px;
	border: none;
}
.header .backHome{
	float: right;
	line-height: 50px;
	margin-top: 30px;
	font-size: 16px;
	color: #999999;
}
.header .backHome:hover{
	color: #ff7c03;
}

/*userCenter*/
.userCenter .header{
	background-color: #003e49;
}
.userCenter .header .con{
	background-color: #003e49;
}
.userCenter .header .con .nav ul li a{
	color: #ffffff;
	background: none;
}
.userCenter .header .con .nav ul li.cur a{
	color: #fcde7e;
}
.userCenter .header .logo{
	width: 106px;
}
.userCenter .header .backToMaster{
	float: left;
	width: 100px;
	height: 64px;
	margin-top: 25px;
	border-left: 1px solid #006578;
	padding-left: 20px;
	margin-left: 20px;
}
.userCenter .header .backToMaster p{
	color: #ffffff;
	line-height: 24px;
	font-size: 18px;
	padding-bottom: 8px;
}
.userCenter .header .backToMaster a{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #003e49;
	border-radius: 8px;
	background-color: #fcde7e;
}
.userCenter .header .userCart{
	float: right;
	width: 120px;
	height: 38px;
	line-height: 38px;
	text-indent: 40px;
	margin-top: 35px;
	border: 1px solid #ff7d01;
	background-color: #ffffff;
}
.userCenter .header .userCart a{
	display: block;
	background: url(images/cart.png) 9px 6px no-repeat #ffffff;
}
.mainStage{
	width: 1190px;
	margin: 20px auto 0 auto;
}
.secondCon{
	border: 1px solid #d4d4d4;
	border-top: none;
	background-color: #ffffff;
}
.userIndex .ucMain{
	padding: 45px;
}
.userIndex .ucMain .ucHead{
	float: left;
	width: 270px;
	height: 110px;
	padding: 20px;
	border: 1px solid #cccccc;
}
.userIndex .ucMain .ucHead .p1{
	float: left;
	width: 110px;
	margin-top: 10px;
}
.userIndex .ucMain .ucHead .p2{
	float: left;
	width: 160px;
	height: 30px;
	padding-top: 30px;
}
.userIndex .ucMain .ucHead .p3{
	float: left;
	width: 160px;
	height: 50px;
}
.userIndex .ucMain .ucHead .p3 a{
	float: left;
	padding: 5px 10px;
	background-color: #c9eff6;
	border-radius: 3px;
}
.userIndex .ucMain .ucHead .p3 a.a2{
	background-color: #f2f2f2;
	margin-left: 10px;
}
.userIndex .ucMain .ucHead .p1 img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 2px solid #ff7d01;
}
.userIndex .ucMain .ucOrder{
	float: left;
	width: 230px;
	height: 150px;
	margin-left: 20px;
	border: 1px solid #cccccc;
}
.userIndex .ucMain .ucOrder h3,
.userIndex .ucMain .ucRebate h3{
	height: 38px;
	line-height: 38px;
	text-indent: 15px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #cccccc;
}
.userIndex .ucMain .ucOrder .num{
	height: 70px;
	text-align: center;
	font-size: 24px;
	color: #ff7d01;
	line-height: 70px;
	background: url(images/order.png) 15px center no-repeat;
}
.userIndex .ucMain .ucOrder .more{
	text-align: right;
	line-height: 38px;
	padding-right: 20px;
	border-top: 1px solid #cccccc;
}
.userIndex .ucMain .ucRebate{
	width: 512px;
	float: right;
	height: 150px;
	border: 1px solid #cccccc;
}
.userIndex .ucMain .ucRebate h3{
	background: url(images/rebate.png) 470px center no-repeat #f6f6f6;
}
.userIndex .ucMain .ucRebate .fl{
	padding: 10px 15px;
	width: 200px;
}
.userIndex .ucMain .ucRebate .fl p{
	line-height: 30px;
	font-size: 15px;
}
.userIndex .ucMain .ucRebate .fl p span{
	color: #ff7d01;
}
.userIndex .ucMain .ucRebate .fr{
	padding: 15px;
	width: 240px;
}
.userIndex .ucMain .ucRebate .fr p{
	position: relative;
	line-height: 36px;
	font-size: 15px;
	margin-bottom: 10px;
	background-color: #f7f7f7;
	border-radius: 4px;
	text-indent: 15px;
}
.userIndex .ucMain .ucRebate .fr p:hover{
	background-color: #fff1e4;
}
.userIndex .ucMain .ucRebate .fr p:after{
	position: absolute;
	right: 10px;
	top: 7px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	content: "";
	background: url(images/arrow2.png) center 3px no-repeat #ffffff;
}
.userIndex .ucMain .ucRebate .fr p a{
	display: block;
	position: relative;
	z-index: 2;
}
.userIndex .ucMain .ucRebate .fr p span{
	color: #ff7d01;
}
.userIndex .myOrders .tit{
	height: 48px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #ffd2a8;
	background-color: #f9f9f9;
}
.userIndex .myOrders .tit h3{
	line-height: 48px;
	text-indent: 15px;
	float: left;
}
.userIndex .myOrders .navSwitch{
	height: 45px;
	border-bottom: 1px solid #ffd2a8;
}
.userIndex .myOrders .navSwitch p{
	float: left;
	line-height: 45px;
	text-align: center;
	color: #ff7c03;
	font-size: 16px;
	width: 180px;
}
.userIndex .myOrders .navSwitch p a{
	display: block;
}
.userIndex .myOrders .navSwitch p.cur{
	background-color: #ff7c03;
}
.userIndex .myOrders .navSwitch p.cur a{
	color: #ffffff;
}
.userIndex .myOrders .thead{
	height: 45px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
}
.userIndex .myOrders .thead ul li{
	float: left;
	text-align: center;
	line-height: 45px;
}
.userIndex .myOrders .thead ul li.li1,
.userIndex .myOrders .item .itemCon ul li.li1{
	width: 320px;
	text-align: left;
	text-indent: 15px;
}
.userIndex .myOrders .item .itemCon ul li.li1{
	width: 530px;
	border-left: 0;
}
.userIndex .myOrders .thead ul li.li1 .selectArea{
	margin-left: 0;
	left: 0;
	text-align: left;
}
.userIndex .myOrders .item .itemCon ul li.li1 .fl{
	width: 400px;
	color: #ff7c03;
}
.userIndex .myOrders .item .itemCon ul li.li1 .fr{
	width: 100px;
	padding-right: 10px;
}
.userIndex .myOrders .thead ul li.li2{
	width: 230px;
}
.userIndex .myOrders .thead ul li.li3,
.userIndex .myOrders .item .itemCon ul li.li2{
	width: 210px;
}
.userIndex .myOrders .thead ul li.li4,
.userIndex .myOrders .item .itemCon ul li.li3{
	width: 160px;
}
.userIndex .myOrders .thead ul li.li5,
.userIndex .myOrders .item .itemCon ul li.li4{
	width: 150px;
}
.userIndex .myOrders .thead ul li.li6,
.userIndex .myOrders .item .itemCon ul li.li5{
	width: 100px;
}
.userIndex .myOrders .items{
	padding: 15px;
}
.userIndex .myOrders .item .itemTit{
	border: 1px solid #e4e4e4;
	padding: 10px;
	margin-bottom: 5px;
}
.userIndex .myOrders .item .itemTit .fl span{
	padding-left: 5px;
	color: #999999;
}
.userIndex .myOrders .item .itemTit .fl span i{
	padding-left: 10px;
	color: #222222;
}
.userIndex .myOrders .item .itemTit a.delete{
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 3px;
	background: url(images/delete.png) 0 0 no-repeat;
}
.userIndex .myOrders .item .itemCon{
	border: 1px solid #e8e8e8;
	margin-bottom: 20px;
}
.userIndex .myOrders .item .itemCon ul li{
	float: left;
	text-align: center;
	padding: 20px 0;
	border-left: 1px solid #e8e8e8;
}
.userIndex .myOrders .item .itemCon ul li.li5 a{
	color: #ffffff;
	background-color: #ff7c03;
	padding: 8px 10px;
	border-radius: 4px;
}
.userIndex .myOrders .item .itemCon ul li.li5 a:hover{
	background-color: #ff9737;
}
.rebatePage .proNavSwitch{
	margin-top: 0;
}
.rebatePage .proNavSwitch ul li.cur{
	background-color: #ff7c03;
}
.rebatePage .table .tbl{
	display: none;
}
.commuPage .table table tr td.td1{
	text-align: left;
	text-indent: 25px;
}
.communityPub{
	padding: 50px;
}
.communityPub .cpTit h3{
	line-height: 50px;
}
.communityPub .cpTit input{
	width: 100%;
	height: 30px;
	border: 1px solid #d4d4d4;
}
.communityPub .cpCon{
	padding-top: 20px;
}
.communityPub .cpCon h3{
	line-height: 50px;
}
.communityPub .cpCon .cpDiscrib{
	height: 300px;
	border: 1px solid #d4d4d4;
}
.communityPub .btns{
	padding-top: 20px;
	text-align: center;
}
.communityPub .btns a{
	display: inline-block;
	width: 140px;
	line-height: 40px;
	background-color: #ff7c03;
	border-radius: 6px;
	color: #ffffff;
	text-align: center;
	margin: 10px;
}
.communityPub .btns a.aReset{
	background-color: #272727;
}
.communityDetail .cdTit{
	line-height: 30px;
	padding-bottom: 30px;
	font-size: 18px;
	color: #222222;
}

.newsD .secondCon{
	padding: 20px 50px 50px 50px;
}
.newsD .newsTit{
	line-height: 80px;
	font-size: 18px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 30px;
	text-align: center;
}
.newsD .newsCon p{
	line-height: 24px;
	font-size: 14px;
	padding-bottom: 10px;
}

/*buycar*/
.buycar .thead{
	height: 45px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
}
.buycar .thead ul li{
	float: left;
	text-align: center;
	line-height: 45px;
}
.buycar .thead ul li.li1{
	width: 650px;
}
.buycar .item .itemCon ul li.li1{
	width: 630px;
	text-align: left;
	text-indent: 10px;
	border-left: 0;
}
.buycar .item .itemCon ul li.li1 input{
	margin-right: 5px;
}
.buycar ul li.li2{
	width: 210px;
}
.buycar ul li.li3{
	width: 160px;
}
.buycar ul li.li3 i{
	float: left;
	width: 26px;
	height: 26px;
	color: #fff;
	text-align: center;
	line-height: 26px;
	background-color: #333;
	cursor: pointer;
	margin-top: -2px;
}
.buycar ul li.li3 i.reduce{
	margin-left: 25px;
}
.buycar ul li.li3 input{
	float: left;
	width: 60px;
	height: 24px;
	margin-top: -2px;
	line-height: 24px;
	border: none;
	text-align: center;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}
.buycar ul li.li4{
	width: 150px;
}
.buycar ul li.li5{
	width: 100px;
}
.buycar .items{
	padding: 15px;
}
.buycar .item .itemTit{
	border: 1px solid #e4e4e4;
	padding: 10px;
	margin-bottom: 5px;
}
.buycar .item .itemTit .fl span{
	padding-left: 5px;
	color: #999999;
}
.buycar .item .itemTit a.delete{
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 3px;
	background: url(images/delete.png) 0 0 no-repeat;
}
.buycar .item .itemCon{
	border: 1px solid #e8e8e8;
	margin-bottom: 20px;
}
.buycar .item .itemCon ul li{
	float: left;
	text-align: center;
	padding: 20px 0;
	height: 26px;
	border-left: 1px solid #e8e8e8;
}
.buycar .item .itemCon ul li.li4 a{
	color: #ffffff;
	background-color: #006577;
	padding: 8px 20px;
	border-radius: 4px;
}
.buycar .item .itemCon ul li.li4 a:hover{
	background-color: #005160;
}
.buycar .total{
	height: 50px;
	line-height: 50px;
}
.buycar .total .fl a{
	color: #999999;
	padding-left: 10px;
}
.buycar .total .fl input{
	margin: 0 5px 0 11px;
}
.buycar .total .fr p{
	float: right;
	padding-left: 30px;
}
.buycar .total .fr p.p1 i{
	padding: 0 5px;
	color: #ff7c03;
}
.buycar .total .fr p.p2 strong{
	padding: 0 5px;
	color: #ff7c03;
	font-size: 24px;
	vertical-align: middle;
}
.buycar .total .fr p.p3 a{
	display: block;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	width: 155px;
	background-color: #ff7c03;
}
.buycar .total .fr p.p3 a:hover{
	background-color: #ff6600;
}
.proSwitch{
	display: none;
}



/*tabel common*/
.tabelTit{
	position: relative;
	height: 64px;
	overflow: hidden;
	text-align: center;
}
.tabelTit:before{
	position: absolute;
	top: 32px;
	left: 50%;
	margin-left: -200px;
	display: block;
	content: "";
	width: 400px;
	height: 1px;
	background-color: #e8e8e8;
}
.tabelTit span{
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -110px;
	display: block;
	width: 220px;
	background-color: #ffffff;
	font-size: 22px;
	color: #222222;
	line-height: 64px;
}
.table table{
	width: 100%;
}
.table table tr td{
	text-align: center;
	line-height: 25px;
	padding: 12px 0;
	border-bottom: 1px solid #e8e8e8;
}
.table table thead tr td{
	background-color: #e8e8e8;
	color: #222222;
	border-bottom: 2px solid #e8e8e8;
}
/*font color*/
.orange{
	color: #ff7c03;
}
.green{
	color: #2c9bae;
}
.gray{
	color: #999999;
}
/*btn style*/
.btnStyle1{
	text-align: center;
	display: inline-block;
	border-radius: 13px;
	color: #ff7c03;
	border: 1px solid #006576;
	cursor: pointer;
	padding: 0 15px;
}
.btnStyle1:hover{
	background-color: #006576;
	color: #ffffff;
}

/*pagination*/
.pagination{
	text-align: center;
	padding: 20px 0;
}
.pagination a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 12px;
	border: 1px solid #e4e4e4;
	margin: 0 1px;
}
.pagination a.cur{
	background-color: #333;
	color: #fff;
}
.pagination a.noUse{
	color: #cccccc;
}

/*canSelect*/
.canSelect{
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding-right: 16px;
	background: url(images/arrow8.png) right center no-repeat;
	background-size: 11px auto;
}
.canSelectCur{
	background-image: url(images/arrow7.png);
}
.canSelect .selectArea{
	display: none;
	position: absolute;
	top: 45px;
	left: 50%;
	width: 160px;
	min-height: 50px;
	margin-left: -80px;
	text-align: center;
	padding: 10px 0;
	border-bottom: 2px solid #e4e4e4;
	background-color: #f0f0f0;
}
.canSelect .selectArea p{
	line-height: 34px;
}
.canSelect .selectArea p:hover,.canSelect .selectArea p.cur{
	color: #ff7c03;
}

/*footer*/
footer{
	text-align: center;
	margin-top: 30px;
	padding: 20px 0;
	line-height: 30px;
	background-color: #ffffff;
}
footer .con{
	width: 1190px;
	margin: 0 auto;
}











